 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: white } 

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: green } 

 ul {	list-style-type: circle;}